body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.localisation {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  height: 40px;
  font-size: 14px;
  padding: 1.25rem 1rem;
  margin: 0;
  text-align: center;
  align-items: center;

  &__texte {
    font-weight: 500;
    font-size: 16px;
  }

  &__icone {
    padding-right: 16px;
  }

}

.explore {
  padding: 2rem;
  text-align: center;
  background-color: rgb(250, 250, 250);
  height: auto;

  &__title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }

  &__subtitle {
    font-weight: 300;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: #0E0E0E;
  }

  &__restaurants {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  &__button {
    border: none;
    padding: 1rem;
    color: #FFFFFF;
    font-weight: 400;
    border-radius: 2rem;
    background: $secondary-color;
    background: linear-gradient(175deg, $secondary-color 0%, $primary-color 100%);
    // @include button(primary);
  }
}

.operation {
  padding: 2rem 1rem;

  &__title {
    font-size: 20px;
    font-weight: bold;
  }

  &__card-container {
    @media (min-width:64rem) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__card {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 10px #999;
    margin: 1rem 0rem 1rem 1rem;
    border-radius: 1rem;
    background-color: #F6F6F6;
    &:hover {
      background-color: #F5EDFF;
      color: $primary-color;
      cursor:pointer;
    }
    &__icone {
      padding-right: 1rem;
      width: 40px;
      color: #7E7E7E;
      @media (min-width:64rem) {
        font-size: 18px;
      }
    }
    @media (min-width:64rem) {
      width: 100%;
    }
  }

  &__number {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -10px;
    font-size: 12px;
    color: #FFFFFF;
    background-color: $primary-color ;
    padding: 0.3rem;
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
  &__explain {
    display: flex;
    padding-left: 2rem;
  }
  &__text {
    font-size: 14px;
    font-weight: 500;
    @media (min-width:64rem) {
      font-size: 16px;
    }
  }
}

.restaurants {
  padding: 2rem 1rem;

  &__navigation {
    text-decoration: none;
    color: inherit;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;

    @media (min-width:64rem) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__card {
    background-color: white;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
    box-shadow: 0px 1px 10px #999;
    overflow: hidden;
    margin: 1rem 0;
    &__images {
      height: 12rem;
      width: 100%;
      border: transparent solid 0px;
      border-radius: 1rem 1rem 0 0;
      box-shadow: none;
      object-fit: cover;
    }
  }


  &__new {
    background-color: $tertiaire-color;
    color: #1F8766;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
    font-size: 14px;

  }

  &__infos {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__content {
    flex: 1;
  }

  &__name {
    margin: 0;
    margin-bottom: 0.25rem;
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__subtitle {
    margin: 0;
    font-weight: lighter;
  }

  &__heart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    font-size: 30px;
  }
}
