.restaurants-details-images {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
  &__enchantee {
    object-fit: cover;
    max-height: 28rem;
    max-width: 100%;
    width: 100%;
  }
}

.details {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;

  &__enchantee {
    margin-top: -8rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;
  }

  &__header {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-family: "Shrikhand", "cursive";
    margin: 1rem 0;
  }
}

.sublevelsmenus {
  display: grid;

  @media (min-width:64rem) {
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
  }
}

.sublevelmenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;

  &__title {
    text-transform: uppercase;
    position: relative;
    padding:2rem 0 0.5rem 0;
    font-weight: 300;
    font-size: 1.2rem;

    &::after {
    content: "";
    width: 3rem;
    height: 0.20rem;
    background-color: $tertiaire-color;
    position: absolute;
    left: 0;
    bottom: 0;
    }
  }
}

.item {
  background-color: white;
  padding: 0.75rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  animation: itemFadeIn .5s;
  animation-timing-function: linear;
  animation-fill-mode: both;

  &__header {
    flex: 1;
  }

  &__title {
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0;
  }

  &__description {
    margin: 0.4rem 0 0 0;
    font-weight: lighter;
    font-size: 1rem;
  }

  &__price {
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 0.5rem;
  }

  &__confirmation {
    background-color: $tertiaire-color;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display:flex;
    align-items:center;
    justify-content:center;
    transition-duration: 0.5s;
  }

  &:hover &__confirmation {
    margin-right: -1rem;
  }

  &__divIcon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 100px;
    transform: rotate(360deg);
    transition-duration: 0.5s;

  }

  &:hover &__divIcon {
    transform: rotate(0);
  }

  &__icon {
    color: $tertiaire-color;
  }
}

.command {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8rem;

  &__restaurants {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__button {
    padding: 0.90rem 2.5rem;
    border: none;
    color: #FFFFFF;
    font-weight: 400;
    border-radius: 2rem;
    background: $secondary-color;
    background: linear-gradient(175deg, $secondary-color 0%, $primary-color 100%);
  }
}
