@import 'libs/reset.scss';

body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.menu {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 10px #999;
  z-index: 20;
  position: relative;

  img {
    width: 170px;
    height: 30px;
  }
}

.localisation {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  height: 40px;
  font-size: 14px;
  padding: 1.25rem 1rem;
  margin: 0;
  text-align: center;
  align-items: center;

  &__texte {
    font-weight: 500;
  }

  &__icone {
    padding-right: 16px;
  }

}

.explore {
  padding: 2rem;
  text-align: center;
  background-color: rgb(250, 250, 250);

  &__title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }

  &__subtitle {
    font-weight: 300;
    margin: 1.5rem 0;
  }

  &__btn {
    // @include button(primary);
  }
}
