@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/* ! minireset.css v0.0.6 | Licence MIT | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul {
  list-style: none;
}

bouton, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

.localisation {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  height: 40px;
  font-size: 14px;
  padding: 1.25rem 1rem;
  margin: 0;
  text-align: center;
  align-items: center;
}
.localisation__texte {
  font-weight: 500;
}
.localisation__icone {
  padding-right: 16px;
}

.explore {
  padding: 2rem;
  text-align: center;
  background-color: #fafafa;
  height: auto;
}
.explore__title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.explore__subtitle {
  font-weight: 300;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: #0E0E0E;
}
.explore__restaurants {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.explore__button {
  border: none;
  padding: 1rem;
  color: #FFFFFF;
  font-weight: 400;
  border-radius: 2rem;
  background: #ff79da;
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 100%);
}

.operation {
  padding: 2rem 1rem;
}
.operation__title {
  font-size: 20px;
  font-weight: bold;
}
.operation__card {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 10px #999;
  margin: 1rem 0rem 1rem 1rem;
  border-radius: 1rem;
  background-color: #F6F6F6;
}
.operation__card:hover {
  background-color: #F5EDFF;
  color: #9356dc;
  cursor: pointer;
}
.operation__card__icone {
  padding-right: 1rem;
  width: 40px;
  color: #7E7E7E;
}
.operation__number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -10px;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #9356dc;
  padding: 0.3rem;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
.operation__explain {
  display: flex;
  padding-left: 2rem;
}
.operation__text {
  font-size: 14px;
  font-weight: 500;
}

.restaurants {
  padding: 2rem 1rem;
}
.restaurants__navigation {
  text-decoration: none;
  color: inherit;
}
.restaurants__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
@media (min-width: 64rem) {
  .restaurants__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.restaurants__card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  box-shadow: 0px 1px 10px #999;
  overflow: hidden;
  margin: 1rem 0;
}
.restaurants__card__images {
  height: 12rem;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.restaurants__new {
  background-color: #99e2d0;
  color: #1F8766;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  font-size: 14px;
}
.restaurants__infos {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}
.restaurants__content {
  flex: 1;
}
.restaurants__name {
  margin: 0;
  margin-bottom: 0.25rem;
  font-weight: bold;
  font-size: 1.2rem;
}
.restaurants__subtitle {
  margin: 0;
  font-weight: lighter;
}
.restaurants__heart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  font-size: 30px;
}

.menu {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 10px #999;
  z-index: 20;
  position: relative;
}
.menu img {
  width: 170px;
  height: 30px;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.header-menu__arrow {
  position: absolute;
  left: 2rem;
  top: 0.4rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  font-size: 1.2rem;
  color: black;
}

.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer__list-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__list-li {
  margin: 0.5rem 0;
}
.footer__list-li:first-child {
  margin-top: 0;
}
.footer__list-li:last-child {
  margin-bottom: 0;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.restaurants-details-images {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}
.restaurants-details-images__enchantee {
  object-fit: cover;
  max-height: 28rem;
  max-width: 100%;
  width: 100%;
}

.details {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
.details__enchantee {
  margin-top: -8rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
.details__header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details__title {
  font-family: "Shrikhand", "cursive";
  margin: 1rem 0;
}

.sublevelsmenus {
  display: grid;
}
@media (min-width: 64rem) {
  .sublevelsmenus {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}

.sublevelmenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
.sublevelmenu__title {
  text-transform: uppercase;
  position: relative;
  padding: 2rem 0 0.5rem 0;
  font-weight: 300;
  font-size: 1.2rem;
}
.sublevelmenu__title::after {
  content: "";
  width: 3rem;
  height: 0.2rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.item {
  background-color: white;
  padding: 0.75rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  animation: itemFadeIn 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
.item__header {
  flex: 1;
}
.item__title {
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0;
}
.item__description {
  margin: 0.4rem 0 0 0;
  font-weight: lighter;
  font-size: 1rem;
}
.item__price {
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 0.5rem;
}
.item__confirmation {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.item:hover .item__confirmation {
  margin-right: -1rem;
}
.item__divIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(360deg);
  transition-duration: 0.5s;
}
.item:hover .item__divIcon {
  transform: rotate(0);
}
.item__icon {
  color: #99e2d0;
}

.command {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8rem;
}
.command__restaurants {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.command__button {
  padding: 0.9rem 2.5rem;
  border: none;
  color: #FFFFFF;
  font-weight: 400;
  border-radius: 2rem;
  background: #ff79da;
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 100%);
}

.fa-heart {
  display: flex;
  align-items: baseline;
  font-size: 1.5em;
  cursor: pointer;
}

.checkbox-heart input[type=checkbox], .checkbox-heart .check {
  display: none;
}

.checkbox-heart input[type=checkbox]:checked ~ .check {
  display: inline-block;
}

.checkbox-heart input[type=checkbox]:checked ~ .uncheck {
  display: none;
}

.uncheck {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.check {
  background: linear-gradient(162deg, #ff79da 0%, #9356dc 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0px;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes bubble {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(0.5) translate(0, 1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1) translate(0, -20px);
    opacity: 1;
  }
  75% {
    transform: scale(1) translate(0, -30px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translate(0, -60px);
    opacity: 0;
  }
}
@keyframes stove {
  0% {
    transform: translate(0, 1);
  }
  10% {
    transform: translate(0, -10%) rotate(5deg);
  }
  20% {
    transform: translate(0, 10%) rotate(-10deg);
  }
  40% {
    transform: translate(0, -40%);
  }
  95% {
    transform: rotate(5deg);
  }
  100% {
    transform: translate(0, 1) rotate(0deg);
  }
}
@keyframes stove-handle {
  0% {
    transform: translate(0, 1);
  }
  10% {
    transform: translate(0, -10%) rotate(25deg);
  }
  20% {
    transform: translate(0, 10%) rotate(-10deg);
  }
  40% {
    transform: translate(0, -40%) rotate(10deg);
  }
  100% {
    transform: translate(0, 1);
  }
}
@keyframes food-2 {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(55px, -1px);
  }
  20% {
    transform: translate(63px, -5px) rotate(0deg);
  }
  28% {
    transform: translate(70px, -50px);
  }
  35% {
    transform: translate(68px, -55px) rotate(180deg);
  }
  40% {
    transform: translate(60px, -60px);
  }
  45% {
    transform: translate(52px, -65px) rotate(360deg);
  }
  50% {
    transform: translate(42px, -69px);
  }
  55% {
    transform: translate(31px, -67px);
  }
  60% {
    transform: translate(22px, -64px) rotate(-180deg);
  }
  65% {
    transform: translate(15px, -60px);
  }
  70% {
    transform: translate(6px, -54px);
  }
  75% {
    transform: translate(-1px, -47px) rotate(-90deg);
  }
  80% {
    transform: translate(-7px, -36px);
  }
  85% {
    transform: translate(-9px, -24px) rotate(0deg);
  }
  90% {
    transform: translate(-7px, -8px) rotate(90deg);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes orbit {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  7% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }
  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }
  39% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }
  70% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  75% {
    transform: rotate(945deg);
    animation-timing-function: ease-out;
  }
  76% {
    transform: rotate(945deg);
    opacity: 0;
  }
  100% {
    transform: rotate(945deg);
    opacity: 0;
  }
}
@keyframes itemFadeIn {
  0% {
    transform: translateY(2rem);
  }
}
.spinner-container {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 0.01s;
  animation-delay: 3s;
  animation-fill-mode: both;
}

.spinner {
  position: relative;
}

.stove {
  position: relative;
}
.stove--handle {
  content: "";
  display: block;
  width: 80px;
  height: 8px;
  position: absolute;
  left: -74px;
  bottom: -65px;
  background-color: transparent;
  border-top: 5px solid #000;
  border-left: 3px solid transparent;
  border-radius: 100%;
  transform: rotate(15deg);
  transform-origin: right;
  animation: stove-handle 1500ms 250ms infinite;
}
.stove--base {
  width: 100px;
  height: 23px;
  background-color: #000;
  border-radius: 0 0 40px 40px;
  position: absolute;
  top: 50px;
  transform-origin: left;
  animation: stove 1500ms 250ms infinite;
}

.bubble {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(173deg, #ff79da 0%, #d66cdb 39%, #ab5edc 85%, #9356dc 100%);
  opacity: 1;
  animation: bubble 2000ms infinite ease-in;
}
.bubble--1 {
  animation-delay: 166.6666666667ms;
}
.bubble--2 {
  animation-delay: 333.3333333333ms;
}
.bubble--3 {
  animation-delay: 500ms;
}
.bubble--4 {
  animation-delay: 666.6666666667ms;
}
.bubble--5 {
  animation-delay: 833.3333333333ms;
}
.bubble--6 {
  animation-delay: 1000ms;
}
.bubble--1 {
  top: 32px;
  left: -25px;
  width: 15px;
  height: 15px;
}
.bubble--2 {
  top: 30px;
  left: 10px;
  width: 8px;
  height: 8px;
}
.bubble--3 {
  top: 3px;
  left: 2px;
  width: 10px;
  height: 10px;
}
.bubble--4 {
  top: -15px;
  right: 8px;
  width: 8px;
  height: 8px;
}
.bubble--5 {
  top: 5px;
  left: -41px;
  width: 10px;
  height: 10px;
}
.bubble--6 {
  top: 55px;
  left: -43px;
  width: 8px;
  height: 8px;
}

.aliment {
  left: 13px;
  bottom: -64px;
  width: 10px;
  height: 10px;
  position: absolute;
  animation: food-2 1500ms infinite ease-in;
}
.aliment--1 {
  animation-delay: 250ms;
}
.aliment--2 {
  animation-delay: 500ms;
}
.aliment--3 {
  animation-delay: 750ms;
}

.aliment--1 {
  background-color: #32b091;
}

.aliment--2 {
  background-color: #4acbab;
}

.aliment--3 {
  background-color: #278870;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 5s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .circle {
  position: absolute;
  width: 38px;
  height: 38px;
  opacity: 0;
  transform: rotate(225deg);
  animation-iteration-count: infinite;
  animation-name: orbit;
  animation-duration: 5.5s;
}
.loader .circle:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #9356dc;
  /* Pick a color */
}
.loader .circle:nth-child(2) {
  animation-delay: 240ms;
}
.loader .circle:nth-child(3) {
  animation-delay: 480ms;
}
.loader .circle:nth-child(4) {
  animation-delay: 720ms;
}
.loader .circle:nth-child(5) {
  animation-delay: 960ms;
}

.btn_heart {
  position: relative;
}
.btn_heart__off {
  position: absolute;
  font-size: 24px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.btn_heart__on {
  position: absolute;
  opacity: 0;
  transform: translatez(0px);
  font-size: 24px;
}
.btn_heart__on:hover {
  background: linear-gradient(162deg, #ff79da 0%, #9356dc 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-delay: 200ms;
  transition-duration: 800ms;
  transform: translatez(34px);
  opacity: 1;
}

/*# sourceMappingURL=all-import.css.map */
