@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/* ! minireset.css v0.0.6 | Licence MIT | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

bouton, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.menu {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 10px #999;
  z-index: 20;
  position: relative;
}
.menu img {
  width: 170px;
  height: 30px;
}

.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer__list-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__list-li {
  margin: 0.5rem 0;
}
.footer__list-li:first-child {
  margin-top: 0;
}
.footer__list-li:last-child {
  margin-bottom: 0;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

body {
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

.localisation {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  height: 40px;
  font-size: 14px;
  padding: 1.25rem 1rem;
  margin: 0;
  text-align: center;
  align-items: center;
}
.localisation__texte {
  font-weight: 500;
}
.localisation__icone {
  padding-right: 16px;
}

.explore {
  padding: 2rem;
  text-align: center;
  background-color: #fafafa;
  height: auto;
}
.explore__title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.explore__subtitle {
  font-weight: 300;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: #0E0E0E;
}
.explore__restaurants {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.explore__button {
  border: none;
  padding: 1rem;
  color: #FFFFFF;
  font-weight: lighter;
  border-radius: 2rem;
  background: #ff79da;
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 100%);
}

.operation {
  padding: 2rem 1rem;
}
.operation__title {
  font-size: 20px;
  font-weight: bold;
}
.operation__card {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 10px #999;
  margin: 1rem 0rem 1rem 1rem;
  border-radius: 1rem;
  background-color: #F6F6F6;
}
.operation__card .operation__degustation {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  background-color: #F5EDFF;
  height: 100%;
  width: 100%;
}
.operation__number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -10px;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #9356DC;
  padding: 0.3rem;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
.operation__explain {
  display: flex;
  padding-left: 2rem;
}
.operation__explain .mobile__icone, .operation__explain .list__icone, .operation__explain .store__icone {
  padding-right: 1rem;
  width: 40px;
}
.operation__explain .mobile__icone, .operation__explain .list__icone {
  color: #7E7E7E;
}
.operation__explain .store__icone {
  color: #9356DC;
}
.operation__text {
  font-size: 14px;
  font-weight: 500;
}

.restaurants {
  padding: 2rem 1rem;
}
.restaurants__navigation {
  text-decoration: none;
  color: inherit;
}
.restaurants__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
@media (min-width: 64rem) {
  .restaurants__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.restaurants__card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  box-shadow: 0px 1px 10px #999;
  overflow: hidden;
  margin: 1rem 0;
}
.restaurants__card__images {
  height: 12rem;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.restaurants__new {
  background-color: #99E2D0;
  color: #1F8766;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  font-size: 14px;
}
.restaurants__infos {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}
.restaurants__content {
  flex: 1;
}
.restaurants__name {
  margin: 0;
  margin-bottom: 0.25rem;
  font-weight: bold;
}
.restaurants__subtitle {
  margin: 0;
  font-weight: lighter;
}
.restaurants__button {
  background-color: white !important;
  border: hidden;
}
.restaurants__button:before {
  outline: none;
}
.restaurants__button:focus {
  background-color: yellow;
  outline: blue auto 5px;
}

/*# sourceMappingURL=style.css.map */
